<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:outputStylesheet library="css" name="all.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="OverlayScrollbars.min.css"></h:outputStylesheet> 
        <h:outputStylesheet library="css" name="adminlte.min.css"></h:outputStylesheet>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet"></link>

        <h:outputScript library="js" name="jquery.min.js"></h:outputScript>
        <h:outputScript library="js" name="bootstrap.bundle.min.js"></h:outputScript>
        <h:outputScript library="js" name="adminlte.min.js"></h:outputScript>
        <h:outputScript library="js" name="demo.js"></h:outputScript>
        <h:outputScript library="js" name="chart.js"></h:outputScript>


        <h:form>

            <div class="wrapper">

                <div class="wrapper">

                    <div class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h1 class="m-0 text-dark">System Administrator's Dashboard</h1>
                                </div><!-- /.col -->
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active">#{webUserController.loggedUser.person.nameWithTitle}</li>
                                    </ol>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div><!-- /.container-fluid -->
                    </div>

                    <section class="content">
                        <div class="container-fluid">



                            <div class="row">

                                <div class="col-lg-3 col-6">
                                    <!-- small box -->
                                    <div class="small-box bg-info">
                                        <div class="inner">
                                            <h3>#{webUserController.totalNumberOfRegisteredClients}</h3>
                                            <p>Total Number Registered
                                            </p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-bag"></i>
                                        </div>
                                        <h:commandLink value="View" action="#{clientController.toRegisterdClientsWithDates()}" ></h:commandLink>
                                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-lg-3 col-6">
                                    <!-- small box -->
                                    <div class="small-box bg-success">
                                        <div class="inner">
                                            <h3>#{webUserController.totalNumberOfClinicEnrolments}</h3>

                                            <p>No. <br/>registered in clinics.</p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-stats-bars"></i>
                                        </div>
                                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-lg-3 col-6">
                                    <!-- small box -->
                                    <div class="small-box bg-warning">
                                        <div class="inner">
                                            <h3>#{webUserController.totalNumberOfClinicVisits}<sup style="font-size: 20px"></sup></h3>

                                            <p>Total Number of Clinic Visits</p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-person-add"></i>
                                        </div>
                                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-lg-3 col-6">
                                    <!-- small box -->
                                    <div class="small-box bg-danger">
                                        <div class="inner">
                                            <h3>24</h3>

                                            <p>No of screened high risk (CVD Only) <br/>clients</p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-stats-bars"></i>
                                        </div>
                                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-pie-graph"></i>
                                    </div>
                                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- ./col -->
                        </div>
                    </section>

<!--
                    <section class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title">Monthly Registration</h5>

                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fas fa-wrench"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                                                        <a href="#" class="dropdown-item">Action</a>
                                                        <a href="#" class="dropdown-item">Another action</a>
                                                        <a href="#" class="dropdown-item">Something else here</a>
                                                        <a class="dropdown-divider"></a>
                                                        <a href="#" class="dropdown-item">Separated link</a>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>
                                        </div>
                                         /.card-header 
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <p class="text-center">
                                                        <strong>From 1 Jan, 2019 - 30 Aug, 2019</strong>
                                                    </p>

                                                    <div class="chart">
                                                         Sales Chart Canvas 
                                                        <canvas id="salesChart" height="180" style="height: 180px;"></canvas>
                                                    </div>
                                                     /.chart-responsive 
                                                </div>
                                                 /.col 
                                                <div class="col-md-4">
                                                    <p class="text-center">
                                                        <strong>Goal Completion</strong>
                                                    </p>

                                                    <div class="progress-group">

                                                        Male Adults screened from eligible empanellment population

                                                        <span class="float-right"><b>160</b>/200</span>
                                                        <div class="progress progress-sm">
                                                            <div class="progress-bar bg-primary" style="width: 80%"></div>
                                                        </div>
                                                    </div>
                                                     /.progress-group 

                                                    <div class="progress-group">
                                                        Female Adults screened from eligible empanellment population

                                                        <span class="float-right"><b>310</b>/400</span>
                                                        <div class="progress progress-sm">
                                                            <div class="progress-bar bg-danger" style="width: 75%"></div>
                                                        </div>
                                                    </div>

                                                     /.progress-group 
                                                    <div class="progress-group">
                                                        High risk clients referred and obtained treatment (DM)
                                                        <span class="float-right"><b>480</b>/800</span>
                                                        <div class="progress progress-sm">
                                                            <div class="progress-bar bg-success" style="width: 60%"></div>
                                                        </div>
                                                    </div>

                                                     /.progress-group 
                                                    <div class="progress-group">
                                                        High risk clients referred and obtained treatment(Non DM)
                                                        <span class="float-right"><b>250</b>/500</span>
                                                        <div class="progress progress-sm">
                                                            <div class="progress-bar bg-warning" style="width: 50%"></div>
                                                        </div>
                                                    </div>
                                                     /.progress-group 
                                                </div>
                                                 /.col 
                                            </div>
                                             /.row 
                                        </div>
                                         ./card-body 
                                        <div class="card-footer">

                                             /.row 
                                        </div>
                                         /.card-footer 
                                    </div>
                                     /.card 
                                </div>
                                 /.col 
                            </div>
                        </div>

                    </section>
                -->
                
                
                
                </div>

            </div>

        </h:form>



    </cc:implementation>
</html>