<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>



        <h:form>  

            <h:outputStylesheet library="css" name="tem1.css"/>

            <p:menubar  rendered="#{webUserController.loggedUser ne null}"  autoDisplay="true"   styleClass="horizontalmenu">


                <p:menuitem ajax="false" value="Home" icon="ui-icon-home" action="#{webUserController.toHome()}" />
                <p:submenu label="Clients" rendered="#{webUserController.hasPrivilege('Client_Management')}" >
                    <p:menuitem ajax="false" value="Search by IDs" action="#{clientController.toSearchClientById()}" />
                    <p:menuitem ajax="false" value="Register New" action="#{clientController.toAddNewClient()}"  />
                </p:submenu>

                <p:submenu label="Settings"  rendered="#{webUserController.hasPrivilege('User')}" >
                    <p:menuitem value="Change My Password" action="#{webUserController.toChangeMyPassword()}"    ajax="false" />
                    <p:menuitem value="Change My Details" action="#{webUserController.toChangeMyDetails()}"    ajax="false" />
                </p:submenu>

                <p:submenu label="Analysis" >
                    <p:menuitem ajax="false" value="Queries" 
                                action="#{queryComponentController.toProcessQuery()}"  />
                    <p:menuitem ajax="false" value="Reports" action="#{reportController.toViewReports()}" ></p:menuitem>
                </p:submenu>


                <p:submenu label="Institution Administration"  rendered="#{webUserController.hasPrivilege('Institution_Administration')}"  >
                    <p:menuitem value="Manage Users" 
                                action="/insAdmin/user_index" ajax="false"
                                rendered="#{webUserController.hasPrivilege('Institution_Administration')}" />
                    <p:menuitem value="Manage Institutions" action="/insAdmin/institution_index"  />
                    <p:menuitem value="Manage Areas" action="/insAdmin/area_index" ajax="false"  />
                    <p:menuitem value="Manage Metadata" action="/insAdmin/data_index"   ajax="false"  />
                </p:submenu>

                <p:submenu label="System Administration"  rendered="#{webUserController.hasPrivilege('System_Administration')}"  >
                    <p:menuitem value="Manage Users" action="/webUser/index"  ajax="false" />
                    <p:menuitem value="Manage Institutions" action="/institution/index"     ajax="false" />
                    <p:menuitem value="Manage Areas" action="/area/index" ajax="false"    />
                    <p:menuitem value="Manage Metadata" action="/systemAdmin/index"    ajax="false" />
                    <p:menuitem value="Manage Queries"  action="/queryComponent/category"     ajax="false" />
                </p:submenu>

                <p:submenu label="Help" >
                    <p:menuitem value="User Manual" action="/wiki"   ajax="false" />
                    <p:menuitem value="Issue Tracker" url="https://github.com/lk-gov-health-hiu/pssp/issues"   ajax="false"  target="_blank" />
                    <p:menuitem value="Troubleshooting" action="/troubleschooter"    ajax="false" />
                    <p:menuitem value="Feedback" action="/feedback"   ajax="false" />
                    <p:menuitem value="Contact us" action="/contact"   ajax="false" />
                    <p:menuitem value="About us" action="/about_us"   ajax="false" />
                </p:submenu>



                <f:facet name="options">
                    <p:inputText 
                        value="#{clientController.searchingId}"/>
                    <p:commandButton ajax="false" action="#{clientController.searchByAnyId()}" icon="ui-icon-search" ></p:commandButton>
                    <p:spacer height="1" width="5" ></p:spacer>
                    <p:outputLabel value="|"></p:outputLabel>
                    <p:spacer height="1" width="5" ></p:spacer>
                    <p:commandButton action="#{webUserController.logOut()}" ajax="false"
                                     rendered="#{webUserController.loggedUser ne null}" value="#{webUserController.loggedUser.name} - Logout" />

                    <p:commandButton action="#{webUserController.endAssumingRoles()}" ajax="false"
                                     rendered="#{webUserController.loggedUser.assumedRole ne null}" 
                                     value="Back as Admin" />

                </f:facet>
            </p:menubar>

            <p:menubar  rendered="#{webUserController.loggedUser ne null}"  autoDisplay="false"   styleClass="verticalmenu">

                <p:menuitem ajax="false" value="Home" icon="ui-icon-home" action="#{webUserController.toHome()}" />
                <p:submenu label="Clients" rendered="#{webUserController.hasPrivilege('Client_Management')}" >
                    <p:menuitem ajax="false" value="Search by IDs" action="#{clientController.toSearchClientById()}" />
                    <p:menuitem ajax="false" value="Register New" action="#{clientController.toAddNewClient()}"  />
                </p:submenu>

                <p:submenu label="Settings"  rendered="#{webUserController.hasPrivilege('User')}" >
                    <p:menuitem value="Change My Password" action="#{webUserController.toChangeMyPassword()}"    ajax="false" />
                    <p:menuitem value="Change My Details" action="#{webUserController.toChangeMyDetails()}"    ajax="false" />
                </p:submenu>

                <p:submenu label="Analysis" >
                    <p:menuitem ajax="false" value="Queries" 
                                action="#{queryComponentController.toProcessQuery()}"  />
                    <p:menuitem ajax="false" value="Reports" action="#{reportController.toViewReports()}" ></p:menuitem>
                </p:submenu>


                <p:submenu label="Institution Administration"  rendered="#{webUserController.hasPrivilege('Institution_Administration')}"  >
                    <p:menuitem value="Manage Users" 
                                action="/insAdmin/user_index" ajax="false"
                                rendered="#{webUserController.hasPrivilege('Institution_Administration')}" />
                    <p:menuitem value="Manage Institutions" action="/insAdmin/institution_index"  />
                    <p:menuitem value="Manage Areas" action="/insAdmin/area_index" ajax="false"  />
                    <p:menuitem value="Manage Metadata" action="/insAdmin/data_index"   ajax="false"  />
                </p:submenu>

                <p:submenu label="System Administration"  rendered="#{webUserController.hasPrivilege('System_Administration')}"  >
                    <p:menuitem value="Manage Users" action="/webUser/index"  ajax="false" />
                    <p:menuitem value="Manage Institutions" action="/institution/index"     ajax="false" />
                    <p:menuitem value="Manage Areas" action="/area/index" ajax="false" />
                    <p:menuitem value="Manage Metadata" action="/systemAdmin/index"    ajax="false" />
                    <p:menuitem value="Manage Queries"  action="/queryComponent/category"     ajax="false" />
                </p:submenu>

                <p:submenu label="Help" >
                    <p:menuitem value="User Manual" action="/wiki"   ajax="false" />
                    <p:menuitem value="Issue Tracker" url="https://github.com/lk-gov-health-hiu/pssp/issues"   ajax="false"  target="_blank" />
                    <p:menuitem value="Troubleshooting" action="/troubleschooter"    ajax="false" />
                    <p:menuitem value="Feedback" action="/feedback"   ajax="false" />
                    <p:menuitem value="Contact us" action="/contact"   ajax="false" />
                    <p:menuitem value="About us" action="/about_us"   ajax="false" />
                </p:submenu>

                <p:menuitem ajax="false" value="Logout"  action="#{webUserController.logOut()}" />


            </p:menubar>

        </h:form>

    </cc:implementation>
</html>