<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <head>
        <ui:define name="head">
            Client Registrations
        </ui:define>
    </head>
    <body>

        <ui:composition template="/template.xhtml">


            <ui:define name="content">
                <h:form>
                    <p:panelGrid columns="2" styleClass="alignTop" >
                        <f:facet name="header" >
                            <p:outputLabel value="Client Registrations" ></p:outputLabel>
                        </f:facet>
                        <p:panelGrid columns="2" >
                            <f:facet name="header" >
                                <p:outputLabel value="Filters" >
                                </p:outputLabel>
                            </f:facet>
                            <p:outputLabel value="From" ></p:outputLabel>
                            <p:calendar value="#{reportController.fromDate}" pattern="dd MM yyyy" ></p:calendar>

                            <p:outputLabel value="To" ></p:outputLabel>
                            <p:calendar value="#{reportController.toDate}" pattern="dd MM yyyy" ></p:calendar>

                            <p:outputLabel value="Institution" ></p:outputLabel>
                            <p:autoComplete   value="#{reportController.institution}" 
                                              completeMethod="#{institutionController.completeInstitutions}"
                                              var="i" itemLabel="#{i.name}" itemValue="#{i}">
                            </p:autoComplete >

                            <p:spacer></p:spacer>
                            <p:commandButton value="Process" ajax="false"
                                             action="#{reportController.fillClientRegistrationForSysAdmin()}"></p:commandButton>

                        </p:panelGrid>

                        <p:panelGrid columns="1" >
                            <p:dataTable value="#{reportController.clients}" var="c"
                                         rowKey="#{c.id}"
                                         rowIndexVar="n"
                                         paginator="true"
                                         rows="10"
                                         rowsPerPageTemplate="10,20,30,40,50"

                                         >
                                <p:column headerText="Date" sortBy="#{c.createdAt}"
                                          >
                                    <p:outputLabel value="#{c.createdAt}" >
                                        <f:convertDateTime pattern="dd MMMM yyyy hh:mm" ></f:convertDateTime>
                                    </p:outputLabel>
                                </p:column>
                                <p:column headerText="PHN" filterBy="#{c.phn}" filterMatchMode="contains" sortBy="#{c.phn}"
                                          >
                                    <p:outputLabel value="#{c.phn}" ></p:outputLabel>
                                </p:column>
                                <p:column headerText="Name"  filterBy="#{c.person.nameWithTitle}" filterMatchMode="contains" sortBy="#{c.person.nameWithTitle}">
                                    <p:outputLabel value="#{c.person.nameWithTitle}" ></p:outputLabel>
                                </p:column>
                                <p:column  headerText="GN Area"  filterBy="#{c.person.gnArea.name}" 
                                           filterMatchMode="contains" 
                                           sortBy="#{c.person.gnArea.name}"
                                           >
                                    <p:outputLabel value="#{c.person.gnArea.name}" ></p:outputLabel>
                                </p:column>

                                <p:column headerText="Action" >
                                    <p:commandButton value="View" 
                                                     action="#{clientController.toClientProfile()}"
                                                     >
                                        <f:setPropertyActionListener target="#{clientController.selected}"
                                                                     value="#{c}"></f:setPropertyActionListener>
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                        </p:panelGrid>

                    </p:panelGrid>

                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
