<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../../template.xhtml">

            <ui:define name="head">
                Encounters
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <p:panelGrid columns="2" >
                        <f:facet name="header" >
                            <p:outputLabel value="Encounter Reports" ></p:outputLabel>
                        </f:facet>
                        <p:panelGrid columns="1" >
                            <f:facet name="header" >
                                <p:outputLabel value="Filters" >
                                </p:outputLabel>
                                <p:commandButton value="Process" ajax="false"
                                                 action="#{reportController.fillClinicEnrollmentsForInstitution()}"></p:commandButton>
                            </f:facet>
                        </p:panelGrid>
                        
                    </p:panelGrid>
                    
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
