<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../template.xhtml">

            <ui:define name="content">

                <h:form enctype="multipart/form-data" >
                    <p:panelGrid columns="3" >

                        <f:facet name="header" >
                            <p:outputLabel value="Upload Clients by xls file. Column Numbers are Zero Based." ></p:outputLabel>
                        </f:facet>

                        <p:outputLabel value="Institution" ></p:outputLabel>
                        <p:autoComplete value="#{clientController.institution}"
                                        completeMethod="#{institutionController.completeInstitutions}"
                                        var="ins"
                                        itemLabel="#{ins.name}"
                                        itemValue="#{ins}">
                        </p:autoComplete>
                        <p:spacer height="1" width="10"></p:spacer>

                        <p:outputLabel value="Date Time Format" ></p:outputLabel>
                        <p:inputText value="#{clientController.dateTimeFormat}" ></p:inputText>
                        <p:spacer height="1" width="10"></p:spacer>
                        
                        <p:outputLabel value="Date Format" ></p:outputLabel>
                        <p:inputText value="#{clientController.dateFormat}" ></p:inputText>
                        <p:spacer height="1" width="10"></p:spacer>

                        <p:outputLabel value="Upload Details" ></p:outputLabel>
                        <p:inputTextarea value="#{clientController.uploadDetails}"
                                         rows="10" cols="100">
                        </p:inputTextarea>
                        <p:spacer height="1" width="10"></p:spacer>


                        <p:fileUpload value="#{clientController.file}" mode="simple"/>
                        <p:commandButton ajax="false" value="Import Clients" 
                                         action="#{clientController.importClientsFromExcel()}"  ></p:commandButton>
                        <p:spacer></p:spacer>
                        
                    </p:panelGrid>
                    <p:outputLabel value="#{clientController.errorCode}" ></p:outputLabel>
                </h:form>



            </ui:define>

        </ui:composition>

    </body>
</html>
