<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../template.xhtml">

            <ui:define name="content">
                <h:outputStylesheet library="css" name="tem1.css"/>
                <h:outputScript library="photocam" name="webcam.js" ></h:outputScript>

                <h:panelGroup rendered="true" >


                    <h:outputStylesheet library="css" name="all.min.css"></h:outputStylesheet>
                    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"></link>

                    <h:outputStylesheet library="css" name="adminlte.min.css"></h:outputStylesheet> 
                    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet"></link>

                    <h:outputScript library="js" name="jquery.min.js"></h:outputScript>
                    <h:outputScript library="js" name="bootstrap.bundle.min.js"></h:outputScript>
                    <h:outputScript library="js" name="adminlte.min.js"></h:outputScript>
                    <h:outputScript library="js" name="demo.js"></h:outputScript>

                    <div class="content-wrapper" style="margin: 0px;">
                        <!-- Content Header (Page header) -->
                        <h:form>
                            <section class="content-header">
                                <div class="container-fluid">
                                    <div class="row mb-2">
                                        <div class="col-sm-6">
                                            <h1>Profile</h1>
                                        </div>

                                        <div class="col-sm-6">
                                            <ol class="breadcrumb float-sm-right">
                                                <li class="breadcrumb-item"><h:commandLink value="Home" action="/index"></h:commandLink></li>
                                                <li class="breadcrumb-item active">
                                                    <h:commandLink value="Printing" action="/client/client_print">
                                                    </h:commandLink></li>
                                            </ol>
                                        </div>

                                    </div>
                                </div><!-- /.container-fluid -->
                            </section>

                        </h:form>
                        <!-- Main content -->
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-3">

                                        <!-- Profile Image -->
                                        <div class="card card-primary card-outline">
                                            <div class="card-body box-profile">
                                                <div class="text-center" >
                                                    <p:graphicImage  style="width: 95%;" 
                                                                     id="photos" cache="false" 
                                                                     class="profile-user-img img-fluid img-circle"
                                                                     rendered="#{imageController.clientPhoto ne null}"    
                                                                     value="#{imageController.clientPhoto}"  >
                                                    </p:graphicImage>
                                                    <h:panelGroup rendered="#{imageController.clientPhoto eq null}" >
                                                        <p:graphicImage  rendered="#{clientController.selected.person.sex.name eq 'Male'}"
                                                                         library="image" name="male.jpg" 
                                                                         class="profile-user-img img-fluid img-circle"
                                                                         style="width: 95%;  margin: auto;" ></p:graphicImage>
                                                        <p:graphicImage  rendered="#{clientController.selected.person.sex.name eq 'Female'}"
                                                                         class="profile-user-img img-fluid img-circle"
                                                                         library="image" name="female.png" style="width: 95%;  margin: auto;" ></p:graphicImage>
                                                    </h:panelGroup>
                                                </div>

                                                <h3 class="profile-username text-center">
                                                    <h:outputLabel value="#{clientController.selected.person.nameWithTitle}" ></h:outputLabel>
                                                </h3>
                                                <h:form>
                                                    <p class="text-muted text-center">

                                                        <p:commandLink process="@this" ajax="false"
                                                                       actionListener="#{clientController.prepareToCapturePhotoWithWebCam()}"
                                                                       value="Capture" 
                                                                       action="capture"/>
                                                        <p:spacer height="1" width="10" ></p:spacer>
                                                        <p:outputLabel value="|" ></p:outputLabel>
                                                        <p:spacer height="1" width="10" ></p:spacer>
                                                        <p:commandLink ajax="false" update="photoCap" 
                                                                       actionListener="#{clientController.prepareToCapturePhotoWithWebCam()}"
                                                                       value="Upload" 
                                                                       action="upload" />

                                                    </p>
                                                </h:form>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->

                                        <!-- About Me Box -->
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title" style="width: 100%;">
                                                    <div style="width: 100%;">
                                                        <h:form>
                                                            <h:outputLabel value="Demographic Details" style="float: left"></h:outputLabel>
                                                            <p:commandLink value="Edit" ajax="false" action="client" style="float: right;" ></p:commandLink>
                                                        </h:form>
                                                    </div>
                                                </h3>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <strong><i class="fas fa-id-badge mr-1"></i> Name :</strong>
                                                <h:outputLabel value="#{clientController.selected.person.nameWithTitle}" ></h:outputLabel>
                                                <br/>

                                                <strong><i class="fas fa-id-badge mr-1"></i> PHN :</strong>
                                                <h:outputLabel value="#{clientController.selected.phn}" ></h:outputLabel>
                                                <br/>

                                                <strong><i class="fas fa-id-badge mr-1"></i> GN Area :</strong>
                                                <h:outputLabel value="#{clientController.selected.person.gnArea.name}" ></h:outputLabel>
                                                <br/>

                                                <strong><i class="fas fa-venus-mars mr-1"></i> Sex :</strong>
                                                <h:outputLabel value="#{clientController.selected.person.sex.name}" ></h:outputLabel>
                                                <br/>

                                                <strong><i class="fab fa-pagelines mr-1"></i> Age :</strong>
                                                <h:outputLabel value="#{clientController.selected.person.age}" ></h:outputLabel>
                                                <br/>

                                                <strong><i class="fas fa-birthday-cake mr-1"></i> DOB :</strong>
                                                <h:outputLabel value="#{clientController.selected.person.dateOfBirth}" >
                                                    <f:convertDateTime pattern="dd MMMM yyyy" ></f:convertDateTime>
                                                </h:outputLabel>
                                                <br/>

                                                <strong><i class="fas fa-mobile-alt mr-1"></i> Mobile No. :</strong>
                                                <h:outputLabel value="#{clientController.selected.person.phone1}" ></h:outputLabel>
                                                <br/>

                                                <strong><i class="fas fa-phone-square-alt mr-1"></i> Tele No. :</strong>
                                                <h:outputLabel value="#{clientController.selected.person.phone2}" ></h:outputLabel>
                                                <br/>

                                                <strong><i class="fas fa-phone-square-alt mr-1"></i> Local Ref. No. :</strong>
                                                <h:outputLabel value="#{clientController.selected.person.localReferanceNo}" ></h:outputLabel>
                                                <br/>
                                                
                                                <strong><i class="fas fa-phone-square-alt mr-1"></i> Senior Citizen No. :</strong>
                                                <h:outputLabel value="#{clientController.selected.person.ssNumber}" ></h:outputLabel>
                                                <br/>

                                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Address</strong>
                                                <p class="text-muted">
                                                    <h:outputLabel value="#{clientController.selected.person.address}" ></h:outputLabel>
                                                </p>
                                                <br/>




                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-9">
                                        <div class="card">
                                            <div class="card-header p-2">
                                                <ul class="nav nav-pills">
                                                    <li class="nav-item"><a class="nav-link active" href="#summary" data-toggle="tab">Summary</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="#clinics" data-toggle="tab">Clinics</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="#medications" data-toggle="tab">Medications</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="#admissions" data-toggle="tab">Admissions</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="#opd" data-toggle="tab">OPD </a></li>
                                                </ul>
                                            </div><!-- /.card-header -->
                                            <div class="card-body">
                                                <div class="tab-content">
                                                    <div class="active tab-pane" id="summary">

                                                        <div class="row">

                                                            <div class="col-lg-6 col-12">
                                                                <div class="small-box bg-info">
                                                                    <div class="inner">
                                                                        <h4>Allergies</h4>

                                                                        <ul>
                                                                            <ui:repeat value="#{clientEncounterComponentFormSetController.fillClientValues(clientController.selected, 'client_allergic_to_medicine')}"
                                                                                       var="a" >
                                                                                <li>${a.itemValue.name}</li>
                                                                            </ui:repeat>
                                                                        </ul>

                                                                    </div>
                                                                    <div class="icon">
                                                                        <i class="fas fa-allergies"></i>
                                                                    </div>
                                                                    <a href="#" class="small-box-footer">Manage Allergies<i class="fas fa-arrow-circle-right"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-12">
                                                                <div class="small-box bg-info">
                                                                    <div class="inner">
                                                                        <h4>Recent Clinic visits</h4>
                                                                        <h:form>
                                                                            <ul>
                                                                                <ui:repeat value="#{clientEncounterComponentFormSetController.fillLastFiveEncountersFormSets('Clinic_Visit')}" var="rcv" >
                                                                                    <li>
                                                                                        <h:commandLink action="#{clientEncounterComponentFormSetController.toViewOrEditFormset()}"

                                                                                                       style="color: #{rcv.completed?'white':'red'};">
                                                                                            <h:outputLabel value="#{rcv.name}">
                                                                                            </h:outputLabel>
                                                                                            <h:outputLabel value="&nbsp;on&nbsp;" ></h:outputLabel>
                                                                                            <p:outputLabel value="#{rcv.encounter.encounterDate}" >
                                                                                                <f:convertDateTime pattern="dd MMMM yyyy" ></f:convertDateTime>
                                                                                            </p:outputLabel>
                                                                                            <h:outputLabel value="&nbsp;at&nbsp;" ></h:outputLabel>
                                                                                            <p:outputLabel value="#{rcv.institution.name}" >
                                                                                            </p:outputLabel>
                                                                                            <f:setPropertyActionListener value="#{rcv}" target="#{clientEncounterComponentFormSetController.selected}" ></f:setPropertyActionListener>
                                                                                        </h:commandLink>
                                                                                    </li>
                                                                                </ui:repeat>
                                                                            </ul>
                                                                        </h:form>
                                                                    </div>
                                                                    <div class="icon">
                                                                        <i class="fas fa-clinic-medical"></i>
                                                                    </div>
                                                                    <h:form>
                                                                        <h:commandLink action="#{clientEncounterComponentFormSetController.fillAllEncountersFormSetsOfSelectedClient('Clinic_Visit')}"
                                                                                       class="small-box-footer"  >
                                                                            More<i class="fas fa-arrow-circle-right"></i>
                                                                        </h:commandLink>
                                                                    </h:form>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        <div class="row">

                                                            <div class="col-lg-6 col-12">
                                                                <div class="small-box bg-info">
                                                                    <div class="inner">
                                                                        <h4>Past Surgical Hx</h4>

                                                                        <p>No over 35 Screend and <br/>Registered</p>
                                                                        <div class="icon">
                                                                            <i class="fas fa-clinic-medical"></i>
                                                                        </div>
                                                                    </div>

                                                                    <a href="#" class="small-box-footer">View Details<i class="fas fa-arrow-circle-right"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-12">
                                                                <div class="small-box bg-info">
                                                                    <div class="inner">
                                                                        <h4>Past OPD visit.</h4>

                                                                        <p>No over 35 Screend and <br/>Registered</p>
                                                                    </div>
                                                                    <div class="icon">
                                                                        <i class="fas fa-clinic-medical"></i>
                                                                    </div>
                                                                    <a href="#" class="small-box-footer">View Details<i class="fas fa-arrow-circle-right"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">

                                                            <div class="col-lg-6 col-12">
                                                                <div class="small-box bg-info">
                                                                    <div class="inner">
                                                                        <h4>CVD Risk Score</h4>

                                                                        <p>No over 35 Screend and <br/>Registered</p>
                                                                    </div>
                                                                    <div class="icon">
                                                                        <i class="fas fa-procedures"></i>
                                                                    </div>
                                                                    <a href="#" class="small-box-footer">View Details<i class="fas fa-arrow-circle-right"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-12">
                                                                <div class="small-box bg-info">
                                                                    <div class="inner">
                                                                        <h4>Medications list</h4>

                                                                        <p>No over 35 Screend <br/>Registered</p>
                                                                    </div>
                                                                    <div class="icon">
                                                                        <i class="fas fa-tablets"></i>
                                                                    </div>
                                                                    <a href="#" class="small-box-footer">Manage Medications<i class="fas fa-arrow-circle-right"></i></a>
                                                                </div>
                                                            </div>




                                                        </div>
                                                        <a class="btn btn-info btn-sm" href="#">
                                                            <i class="fas fa-pencil-alt">
                                                            </i>
                                                            Complete Summary
                                                        </a>
                                                    </div>
                                                    <!-- /.tab-pane -->
                                                    <div class="tab-pane" id="clinics">

                                                        <div class="card card-primary">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Clinic Enrollments</h3>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <div class="card-body">

                                                                <h:form >

                                                                    <table >
                                                                        <tr>
                                                                            <td>
                                                                                <h:selectOneMenu value="#{clientController.selectedClinic}" >
                                                                                    <f:selectItem itemLabel="Select the clinic" ></f:selectItem>
                                                                                    <f:selectItems value="#{institutionController.myClinics}" 
                                                                                                   var="shlc" itemValue="#{shlc}" itemLabel="#{shlc.name}"></f:selectItems>
                                                                                </h:selectOneMenu>
                                                                            </td>
                                                                            <td>
                                                                                <p:commandButton value="Enroll" ajax="false" 
                                                                                                 action="#{clientController.enrollInClinic()}" ></p:commandButton>
                                                                                <p:commandButton action="#{institutionController.refreshMyInstitutions()}" ajax="false" 
                                                                                                 icon="ui-icon-arrowrefresh-1-n" ></p:commandButton>
                                                                            </td>
                                                                        </tr>
                                                                    </table>

                                                                </h:form>

                                                            </div>
                                                        </div>
                                                        <div class="card card-primary">
                                                            <div class="card-header">
                                                                <h3 class="card-title">Present Clinics</h3>
                                                            </div>
                                                            <!-- /.card-header -->
                                                            <div class="card-body">


                                                                <h:form >


                                                                    <p:dataTable id="tblClinics" value="#{clientController.selectedClientsClinics}" var="chlce" >
                                                                        <p:column headerText="Clinic" >
                                                                            <p:outputLabel value="#{chlce.institution.name}" ></p:outputLabel>
                                                                        </p:column>
                                                                        <p:column headerText="Number" >
                                                                            <p:outputLabel value="#{chlce.encounterNumber}" ></p:outputLabel>
                                                                        </p:column>
                                                                        <p:column headerText="New Encounter" >
                                                                            <h:dataTable value="#{designComponentFormSetController.getClinicFormSets(chlce.institution)}"
                                                                                         var="cfs"  border="0" >
                                                                                <h:column >
                                                                                    <p:commandLink id="btnNewFormset" value="New #{cfs.name}" process="@this" update="@all"
                                                                                                   action="#{clientEncounterComponentFormSetController.createAndNavigateToClinicalEncounterComponentFormSetFromDesignComponentFormSetForClinicVisit(cfs)}" >
                                                                                    </p:commandLink>
                                                                                    <p:blockUI block=":#{p:component('tblClinics')}" trigger="btnNewFormset" >
                                                                                        LOADING Patient data.<br/>
                                                                                        Please wait.<br/>
                                                                                        <p:graphicImage library="image" name="loading.gif" ></p:graphicImage>
                                                                                    </p:blockUI>
                                                                                </h:column>
                                                                            </h:dataTable>
                                                                        </p:column>
                                                                    </p:dataTable>
                                                                </h:form>

                                                            </div>
                                                        </div>


                                                    </div>
                                                    <!-- /.tab-pane -->

                                                    <div class="tab-pane" id="medications">

                                                    </div>
                                                    <div class="active tab-pane" id="admissions">
                                                        <!-- Post -->

                                                        <!-- /.post -->

                                                        <!-- Post -->

                                                        <!-- /.post -->
                                                    </div>
                                                    <div class="active tab-pane" id="opd">
                                                        <!-- Post -->

                                                        <!-- /.post -->

                                                        <!-- Post -->

                                                        <!-- /.post -->
                                                    </div>
                                                    <!-- /.tab-pane -->
                                                </div>
                                                <!-- /.tab-content -->
                                            </div><!-- /.card-body -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>
                        <!-- /.content -->
                    </div>




                </h:panelGroup>









            </ui:define>

        </ui:composition>

    </body>
</html>
