<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../template.xhtml">

            <ui:define name="content">
     
            <h:form id="QueryComponentEditForm">
                <p:panelGrid id="display" columns="1" style="margin: auto;">
                     <f:facet name="header" >

                                <p:outputLabel value="Edit Query" />


                                <p:commandButton action="query" value="Save" 
                                                 actionListener="#{queryComponentController.saveSelectedItem()}" ajax="false" 
                                                 style="float: right;" >
                                </p:commandButton>
                                <p:commandButton ajax="false" action="query" value="Back" style="float: right;" ></p:commandButton>
                            </f:facet>

                    <p:tabView rendered="#{queryComponentController.selected != null}">
                        <p:tab title="Basic Details" >

                            <p:panelGrid columns="2" >

                                <p:outputLabel value="#{bundleQuery.CreateQueryComponentLabel_name}" for="name" />
                                <p:inputText id="name" required="true"
                                             value="#{queryComponentController.selected.name}" title="#{bundleQuery.CreateQueryComponentTitle_name}" />

                                <p:outputLabel value="Code" for="code" />
                                <p:inputText id="code" value="#{queryComponentController.selected.code}" title="Code" />

                                <p:outputLabel value="Descreption" for="descreption" />
                                <p:inputTextarea rows="4" cols="30" id="descreption" 
                                                 value="#{queryComponentController.selected.descreption}" 
                                                 title="#{bundleQuery.CreateQueryComponentTitle_descreption}" />

                            </p:panelGrid>


                        </p:tab>
                        <p:tab title="Query Details" >

                            <p:panelGrid columns="2" >


                                <p:outputLabel value="Type" for="queryType" />
                                <p:selectOneMenu id="queryType"  value="#{queryComponentController.selected.queryType}" required="true" >
                                    <f:selectItem itemLabel="Select" ></f:selectItem>
                                    <f:selectItems value="#{commonController.queryType}" ></f:selectItems>
                                </p:selectOneMenu>

                                <p:outputLabel value="Population Type" for="populationType" />
                                <p:selectOneMenu id="populationType"  value="#{queryComponentController.selected.populationType}" >
                                    <f:selectItem itemLabel="Select" ></f:selectItem>
                                    <f:selectItems value="#{commonController.populationTypes}" ></f:selectItems>
                                </p:selectOneMenu>


                                <p:outputLabel value="Indicator Query" for="indicatorQuery" />
                                <p:inputTextarea rows="4" cols="30" id="indicatorQuery" value="#{queryComponentController.selected.indicatorQuery}" 
                                                 title="Indicator Query" />
                            </p:panelGrid>
                        </p:tab>
                    
                    </p:tabView>

                </p:panelGrid>
            </h:form>

            </ui:define>
        </ui:composition>
    </body>
</html>