<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="/template.xhtml">

            <ui:define name="content">

                <h:form enctype="multipart/form-data" >
                    <p:panelGrid id="display" columns="1" style="margin: auto;">
                        <f:facet name="header" >

                            <p:outputLabel value="Upload Query" />


                            <p:commandButton action="query" value="Upload" 
                                             actionListener="#{uploadController.uploadFile()}" ajax="false" 
                                             style="float: right;" >
                            </p:commandButton>
                            <p:commandButton ajax="false" action="query" value="Back" style="float: right;" ></p:commandButton>
                        </f:facet>

                        <p:tabView rendered="#{queryComponentController.selected != null}">
                            <p:tab title="Basic Details" >

                                <p:panelGrid columns="2" >

                                    <p:outputLabel value="#{bundleQuery.CreateQueryComponentLabel_name}" 
                                                   />
                                    <p:outputLabel id="name" 
                                                   value="#{uploadController.selectedComponent.name}" title="#{bundleQuery.CreateQueryComponentTitle_name}" />

                                    <p:outputLabel value="Code"  />
                                    <p:outputLabel id="code" value="#{uploadController.selectedComponent.code}"  />

                                    <p:outputLabel value="Descreption" />
                                    <p:outputLabel id="descreption" 
                                                   value="#{uploadController.selectedComponent.descreption}"  />

                                    <p:outputLabel value="File"  />
                                    <h:panelGroup >
                                        <p:fileUpload value="#{uploadController.file}" mode="simple"/>
                                    </h:panelGroup>

                                </p:panelGrid>


                            </p:tab>


                        </p:tabView>

                    </p:panelGrid>
                </h:form>

            </ui:define>
        </ui:composition>
    </body>
</html>