<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:reports="http://xmlns.jcp.org/jsf/composite/reports">
    <head>
        <ui:define name="head">
                Reports
            </ui:define>
    </head>
    <body>

        <ui:composition template="/template.xhtml">

            

            <ui:define name="content">
                
                <h:panelGroup rendered="#{true or webUserController.loggedUser.institutionUser or webUserController.loggedUser.institutionSuperUser or webUserController.loggedUser.institutionAdministrator }" >
                    <reports:out/>
                </h:panelGroup>
                


            </ui:define>

        </ui:composition>

    </body>
</html>
