<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>



        <h:form>
            <p:panelGrid columns="1" class="w3-border w3-margin w3-card" style="width: 99%; margin: auto;">
                <f:facet name="header" >
                    <p:outputLabel value="Institution Reports" ></p:outputLabel>
                </f:facet>

                <p:tabView orientation="left" >

                    <p:tab title="Download Excel Reports" >
                        <p:panelGrid columns="2" >
                            <p:outputLabel value="Report" ></p:outputLabel>
                            <p:autoComplete value="#{reportRequestController.queryComponent}"
                                            completeMethod="#{queryComponentController.completeQueries}"
                                            var="q"
                                            itemLabel="#{q.name}"
                                            itemValue="#{q}">
                            </p:autoComplete>

                            <p:outputLabel value="Institution" ></p:outputLabel>
                            <p:autoComplete value="#{reportRequestController.institution}"
                                            completeMethod="#{institutionController.completeInstitutions}"
                                            var="i"
                                            itemLabel="#{i.name}"
                                            itemValue="#{i}">
                            </p:autoComplete>

                            <p:outputLabel value="From" ></p:outputLabel>
                            <p:calendar value="#{reportRequestController.fromDate}" pattern="dd MMMM yyyy" ></p:calendar>

                            <p:outputLabel value="To" ></p:outputLabel>
                            <p:calendar value="#{reportRequestController.toDate}" pattern="dd MMMM yyyy" ></p:calendar>

                        </p:panelGrid>

                        <p:panelGrid columns="1" >
                            <p:commandButton value="Selected Period Clinic Report"  style="width:30em;margin:auto;"
                                             actionListener="#{reportRequestController.toDownloadNcdReportPeriodInstitution()}"
                                             ajax="false">
                                <p:fileDownload value="#{reportRequestController.file}" />
                            </p:commandButton>

                            <p:commandButton value="This Month Clinic Report" style="width:30em;margin:auto;"
                                             actionListener="#{reportRequestController.toDownloadNcdReportThisMonthInstitution()}"
                                             ajax="false">
                                <p:fileDownload value="#{reportRequestController.file}" />
                            </p:commandButton>

                            <p:commandButton value="Last Month Clinic Report"  style="width:30em;margin:auto;"
                                             actionListener="#{reportRequestController.toDownloadNcdReportLastMonthInstitution()}"
                                             ajax="false">
                                <p:fileDownload value="#{reportRequestController.file}" />
                            </p:commandButton>

                            <p:commandButton value="This Quarter Clinic Report"  style="width:30em;margin:auto;"
                                             actionListener="#{reportRequestController.toDownloadNcdReportThisQuarterInstitution()}"
                                             ajax="false">
                                <p:fileDownload value="#{reportRequestController.file}" />
                            </p:commandButton>

                            <p:commandButton value="Last Quarter Clinic Report"  style="width:30em;margin:auto;"
                                             actionListener="#{reportRequestController.toDownloadNcdReportLastQuarterInstitution()}"
                                             ajax="false">
                                <p:fileDownload value="#{reportRequestController.file}" />
                            </p:commandButton>
                        </p:panelGrid>

                    </p:tab>

                    <p:tab title="Lists" >

                        <h:panelGrid columns="1" >

                            <p:commandButton value="Client Registrations"   style="width:30em;margin:auto;"
                                             action="#{reportController.toViewClientRegistrations()}"
                                             ajax="false"></p:commandButton>

                            <p:commandButton value="Clinic Enrollments"   style="width:30em;margin:auto;"
                                             action="#{reportController.toViewClinicEnrollments()}"
                                             ajax="false"></p:commandButton>
                            
                             <p:commandButton value="Clinic Visits"   style="width:30em;margin:auto;"
                                             action="#{reportController.toViewClinicEnrollments()}"
                                             ajax="false"></p:commandButton>

                        </h:panelGrid>


                    </p:tab>

                </p:tabView>






            </p:panelGrid>
        </h:form>

    </cc:implementation>
</html>