<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:body>

        <ui:composition template="./template.xhtml">

            <h:outputStylesheet library="css" name="main.css" ></h:outputStylesheet>

            <ui:define name="content">

                <table  class="align-top w3-table-all w3-card-4 w3-margin" style="width: 90%;margin: auto;"  >
                    <tr>
                        <th colspan="2" style="text-align: center;">
                            NCD Module of HIMS. Version #{applicationController.versionNo}
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Developed By
                        </td>
                        <td>
                            National Cancer Institute, Maharagama<br/>
                            Health Information Unit, Ministry of Health, Nutrition and Indigenous Medicine
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p:outputLabel value="Logged Username" ></p:outputLabel>
                        </td>
                        <td>
                            <p:outputLabel value="#{webUserController.loggedUser.name}" ></p:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p:outputLabel value="Logged User" ></p:outputLabel>
                        </td>
                        <td>
                            <p:outputLabel value="#{webUserController.loggedUser.person.nameWithTitle}" ></p:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p:outputLabel value="Logged Role" ></p:outputLabel>
                        </td>
                        <td>
                            <p:outputLabel value="#{webUserController.loggedUser.webUserRole}" ></p:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p:outputLabel value="Privileges" ></p:outputLabel>
                        </td>
                        <td>
                            <table >
                                <ui:repeat value="#{webUserController.loggedUserPrivileges}" var="p" >
                                    <tr>
                                        <td>
                                            <p:outputLabel value="#{p.privilege}" ></p:outputLabel>
                                        </td>
                                    </tr>
                                </ui:repeat>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p:outputLabel value="My Institutions" ></p:outputLabel>
                        </td>
                        <td>
                            <table >
                                <ui:repeat value="#{webUserController.loggableInstitutions}" var="i" >
                                    <tr>
                                        <td>
                                            <p:outputLabel value="#{i.name}" ></p:outputLabel>
                                        </td>
                                    </tr>
                                </ui:repeat>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p:outputLabel value="Logged Institution" ></p:outputLabel>
                        </td>
                        <td>
                            <p:outputLabel value="#{webUserController.loggedUser.institution.name}" ></p:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p:outputLabel value="POI Institution" ></p:outputLabel>
                        </td>
                        <td>
                            <p:outputLabel value="#{webUserController.loggedUser.institution.poiInstitution.name}" ></p:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p:outputLabel value="POI Number" ></p:outputLabel>
                        </td>
                        <td>
                            <p:outputLabel value="#{webUserController.loggedUser.institution.poiInstitution.poiNumber}" ></p:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p:outputLabel value="Last POI" ></p:outputLabel>
                        </td>
                        <td>
                            <p:outputLabel value="#{webUserController.loggedUser.institution.poiInstitution.lastHin}" ></p:outputLabel>
                        </td>
                    </tr>
                </table>




            </ui:define>

        </ui:composition>


    </h:body>






</html>
