<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ez="http://xmlns.jcp.org/jsf/composite/ezcomp">

    <h:head id="headt">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"></link>

        <link href="https://fonts.googleapis.com/css?family=Poppins;display=swap" rel="stylesheet"></link>

        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' 
              integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' 
              crossorigin='anonymous'></link>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>

        <title>#{bundle.Title}</title>


        <ui:insert name="head">
        </ui:insert>

        <h:outputStylesheet library="css" name="tem1.css"/>
    </h:head>

    <h:body style="font-family: 'Poppins', sans-serif!important;">
          <ui:insert name="free">
                    </ui:insert>
        <style>
            html,body { height: 100%; margin: 0px; padding: 0px; }
            .ui-widget {
                font-family: 'Poppins',Arial,sans-serif;
                font-size: 1.0em;
            }
            .ui-widget input,
            .ui-widget select,
            .ui-widget textarea,
            .ui-widget button {
                font-family: 'Poppins',Arial,sans-serif;
            }

        </style>
        <f:view locale="#{webUserController.locale}" >
            <p:growl   >
            </p:growl>
            <div class="w3-row w3-theme-l5" style="font-family: 'Poppins', sans-serif!important;">
                <h:panelGroup rendered="#{webUserController.loggedUser ne null}">
                    <div class="w3-row" >
                        <ez:menu/>
                    </div>
                </h:panelGroup>

                <h:panelGroup rendered="#{webUserController.loggedUser eq null}">
                    <div class="w3-row" style="text-align: center;" >
                        <p:graphicImage library="image" name="hmis_logo.png" style="width: 25%;" ></p:graphicImage>
                    </div>
                </h:panelGroup>
            </div>

            <div class="w3-row w3-theme-l5" style="height: 100%;" >
                <h:panelGroup rendered="#{webUserController.loggedUser ne null}">
                    <ui:insert name="content">
                    </ui:insert>
                    <br/>
                    <br/>
                    <br/>
                </h:panelGroup>
                <h:panelGroup rendered="#{webUserController.loggedUser eq null}">
                    <ez:login/>
                    <div style="width: 50%; margin: auto;">
                        <ez:demo_login/>
                    </div>
                    <ui:insert name="timeout">
                    </ui:insert>
                </h:panelGroup>
            </div>

            <div class="footer w3-indigo">
                <ui:insert name="bottom">
                    <ez:footer/>
                </ui:insert>
            </div>

        </f:view>

    </h:body>

</html>
